.App {
  font-family: "Arial", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2 {
  text-align: center;
  background-color: #003566;
  color: #ffffff;
  padding: 12px;
  border-radius: 4px;
}

.header-image-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
}

.header-image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
  box-sizing: border-box;
  width: 80%;
  max-width: 350px;
}

.search-bar button {
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  background-color: #003566;
  color: #ffffff;
  font-size: 16px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 80%;
  max-width: 350px;
}

.search-bar button:hover {
  background-color: #00509e;
  transform: scale(1.05);
}

.random-button {
  display: block;
  margin: 40px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e4002b;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80%;
  max-width: 350px;
}

.random-button:hover {
  background-color: #a62833;
  transform: scale(1.05);
}

.artwork {
  margin-bottom: 20px;
  border: 1px solid #003566;
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff; /* Card background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.artwork h3 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  color: #003566;
}

.artwork h4 {
  margin: 5px 0 10px 0;
  font-size: 1.2em;
  color: #00509e;
}

.artwork p {
  margin: 5px 0;
  font-size: 1em;
  line-height: 1.5;
}

.artwork img {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 5px;
}

.artwork a {
  color: #e4002b;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-bottom 0.3s;
}

.artwork a:hover {
  color: #a62833;
  border-bottom: 2px solid #a62833;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}
